@font-face {
    font-family: "RedHatDisplay", sans-serif;
    src: url(/font/RedHatDisplay-Regular.ttf);
}
body {
    margin: 0;
    font-size: 18px;

    }

    img.person {
        margin-right: auto;
        margin-left: auto;
        margin-bottom: auto;
        margin-top: 80px;
        display: block;
        width: 500px;
        margin: 30px,auto;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
        
    }
img.person2 {
    margin-right: auto;
        margin-left: auto;
        margin-bottom: auto;
        margin-top: auto;
        display: block;
        width: 500px;
        margin: 30px,auto;
        background-color: #fff;
        box-shadow: 0 20px 20px #ccc;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
}

.container {
    font-family: "RedHatDisplay", sans-serif;
    position: relative;
    text-align: center;
    color:#0f2255;
}


.centered {
  font-size: 33px;
  font-family: "RedHatDisplay", sans-serif;
    position: absolute;
    top: 10%;
    left:50%;
    transform: translate(-50%, -50%);
}

.centered2 {
    font-size: 16px;	
    color: #3a4a81;
    line-height: 1.7;
    font-family: "RedHatDisplay", sans-serif;
    position: absolute;
    bottom: 56%;
    left:50%;
    transform: translate(-50%, -50%);
}
