@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700;900&display=swap');

/* font-family: 'Red Hat Display', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Red Hat Display', sans-serif;
    background: hsl(225, 100%, 94%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.body__svg {
    /* width: 100%;
    height: 100%; */
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
}

.card {
    width: 450px;
    border-radius: 30px;
    z-index: 10;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: 0 10px 9px -4px #ccc;
}

.card__illu { 
    border-radius: 30px 30px 0 0;
    display: block;
}

.card__content {
    box-shadow: 0 10px 9px -4px #ccc;
    background: #FFF;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    height: 440px;
}

.card__title {
    color: #0f2255;
    width: fit-content;
    margin: 0 auto;
    padding-bottom: 15px;
    margin-top: 25px;
}

.card__text {
    width: 65%;
    text-align: center;
    margin: 0 auto;
    color: hsl(223, 47%, 23%);
    
}

.card__middle {
    width: 80%;
    background: hsl(225, 100%, 98%);
    border-radius: 10px;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;  
    
}

.card__price{
    margin-left: 18px;
}

.card__pricing {
    color:rgb(74, 74, 75);
    font-size: 15px;
}

.card__change {
    margin-left: auto;
}

.card__button {
    width: 80%;
    height: 55px;
    font-size: 16px;
    margin: auto;
    margin-top: auto;
    color: #fff;
    background: #352ae0;
    border-radius: 10px;
    margin-top: 15px;
    box-shadow: 0 11px 10px -0px rgb(196, 196, 196);
}

.card__link{
    margin: auto;
    margin-bottom: 55px;
    text-decoration: blink;
    color: gray;
}